.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }
  .bd-mode-toggle {
    z-index: 1500;
  }
  .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    margin-right: 10px;
    border: none;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .like {
    background-color: #00c853;
    color: #ffffff;
    width: 24px;
    height: 24px;
  }

  .dislike {
    background-color: #f44336;
    color: #ffffff;
    width: 24px;
    height: 24px;
  }

  .share {
    background-color: #1877f2;
    color: #ffffff;
    width: 24px;
    height: 24px;
  }

  .whatsapp {
    background-color: #25D366;
    color: #ffffff;
    width: 24px;
    height: 24px;
  }

  .button:hover {
    opacity: 0.8;
  }

  .animation {
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
  }

  @keyframes animateButton {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }
  .carousel.slide {
    transition: none !important;
  }
  .button.shopee {
    border-radius: 10px; /* Mengatur sudut kotak */
    background-color: rgb(119, 255, 239); /* Mengatur warna latar belakang */
    width: 100%; /* Mengatur lebar tombol agar penuh ke kiri dan kanan */
    max-width: 280px; /* Mengatur lebar maksimum tombol */
    margin: 20px auto; /* Mengatur jarak antara tombol dan elemen lain */
    display: block; /* Mengatur tampilan tombol menjadi block agar responsif */
  }
  